* {
    margin: 0px;
    padding: 0px;
}

button::-moz-focus-inner {
    border: 0;
}

body {
    background-color: #fff;
    font-family: Roboto, Open Sans, Helvetica Neue, sans-serif;
    font-size: 12px;
}

.clearfix {
    clear: both;
}

.hidden {
    display: none;
}

.msg-content {
    margin: 10px;
    text-align: center;
}

#login-content, #empty-playlist-content {
    padding-top: 15px;
}

#login-content .login-button {
    margin-top: 25px;
}

#login-content .flat_button {
    background: #5e81a8 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 2px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
    font-size: 12.5px;
    line-height: 15px;
    margin: 0;
    outline: medium none;
    padding: 7px 16px 8px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
}

ul#playlist {
    list-style: none;
    margin: 5px;
}

ul#playlist li {
    padding: 8px;
}

ul#playlist li:hover {
    background-color: #f5f7fa;
}

ul#playlist .button, ul#playlist .title {
    float: left;
}

ul#playlist .title, ul#playlist .duration {
    padding-top: 4px;
}

ul#playlist .duration {
    float: right;
    color: #939393;
}

ul#playlist .button {
    width: 9%;
}

ul#playlist .title {
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    width: 70%;
}

.author, .divider {
    float: left;
}

ul#playlist .author {
    color: #2a5885;
    font-weight: bold;
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

ul#playlist .divider {
    padding: 0 5px;
}

.track {
    overflow: hidden;
    text-overflow: ellipsis;
}

ul#playlist .audio_play {
    background: #577ca1 url("./images/audio_playpause.png") no-repeat scroll 8px 7px;
    border: medium none;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 24px;
    outline: medium none;
    width: 24px;
}

ul#playlist .playing {
    background-position: 8px -15px;
}